@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(./static/fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./static/fonts/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./static/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./static/fonts/Inter-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
