@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 5rem;
  --home-carousel-height: 5rem;
}

@font-face {
  font-family: "Inter";
  src: url(/static/fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

body {
  height: 100%;
  background-image: url("/static/img/underlay.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: cover;
    background-position: unset;
  }
}

@layer utilities {
  .pause {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .links-turq a {
	 @apply text-turq;
  }

  input[type="checkbox"]:checked ~ img.checkbox-img:nth-of-type(1) {
    @apply opacity-0;
  }

  input[type="checkbox"]:checked ~ img.checkbox-img:nth-of-type(2) {
    @apply opacity-100;
  }
}

@layer components {
  .psuedo-fade-r,
  .psuedo-fade-l {
    @apply relative;
  }

  .psuedo-fade-r:after {
    @apply content-[""] absolute top-0 bottom-0 right-0 w-16 z-10 pointer-events-none bg-white;
    right: 0;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0)),
      to(rgba(247, 248, 250, 1))
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(247, 248, 250, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(247, 248, 250, 1) 100%
    );
  }

  .psuedo-fade-l:before {
    @apply content-[""] absolute top-0 bottom-0 right-0 w-16 z-10 pointer-events-none bg-white;
    left: 0;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 1)),
      to(rgba(255, 255, 255, 0))
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
